body {
  padding: 60px 0px 20px 0px;
}

/* Square Bootstrap responsive embed for agenda widgets */
.embed-responsive-square {
  padding-bottom: 100%;
}

/* Make columns the same height */
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*="col-"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  margin-bottom: 20px;
}

.image-row {
  margin-bottom: 20px;
}

.jumbotron p {
  margin-bottom: 0;
}

dd {
  margin-bottom: 1em;
}

p img {
  width: 100%;
}

.cbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bunkhouse-body {
  padding-top: 50px;
}

.bunkhouse-body p {
  font-size: large;
}

.bunkhouse-wrapper {
  display: flex;
  justify-content: center;
}

.bunkhouse-container {
  max-width: 950px;
}

.bunkhouse-navbar,
.bunkhouse-navbar .navbar-brand {
  font-size: 22px;
}

.bunkhouse-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/bunkhouse/bunkhouse-exterior-rendering.jpg);
  background-position-y: 34%;
  background-position-x: 50%;
  min-height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.bunkhouse-banner h1,
.bunkhouse-banner h2,
.donations-block {
  background: rgba(255, 255, 255, 0.45);
}

.bunkhouse-banner h1,
.bunkhouse-banner h2
 {
  font-weight: bolder;
  text-transform: uppercase;
  color: #151515;
  /* text-shadow: 0.02em 0 #bbbbbb, 0 0.02em #bbbbbb, -0.02em 0 #bbbbbb,
    0 -0.02em #bbbbbb; */
  padding: 2px 10px;
  text-align: center;
  font-size: 2rem;
}

.thermometer {
  height: 10px;
  border-radius: 40px;
  background-color: #dae5eb;
}

.donation-progress {
  background: rgb(206, 17, 38);
}

.donation-progress-pledges {
  background: rgb(145, 17, 38);
}

.bunkhouse-banner h1 {
  font-size: 4rem;
}
.bunkhouse-banner h2 {
  font-size: 3rem;
}

.bunkouse-donate-button {
  font-size: 2rem;
  width: 200px;
  /* margin-top: 20px;
  margin-bottom: -20px; */
  text-align: center;
  display: inline-block;
  width: 100%;
}

.bunkouse-donate-button:hover,
.bunkouse-donate-button:visited {
  color: white;
}

@media (min-width: 768px) {
  .bunkhouse-banner h1 {
    font-size: 6rem;
  }
  .bunkhouse-banner h2 {
    font-size: 4rem;
  }

  /* .bunkhouse-banner .bunkouse-donate-button {
    margin-top: 40px;
    margin-bottom: -40px;
  } */

  .bunkouse-donate-button {
    font-size: 3rem;
    width: 250px;
  }
}

.bunkouse-donate-button {
  font-weight: 600;
  opacity: 0.93;
  padding: 0.5625rem 0.75rem;
  background: #d22630;
  border-bottom: 2px solid #a41d35;
  border-radius: 30px;
  color: white;
  padding: 0.5625rem 0.75rem;
  margin-bottom: 20px;
}

.bunkouse-donate-button:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  .small-screen-only {
    display: none;
  }
}

.donations-amount {
  font-size: 3rem;
}


.donations-block {
  padding: 20px;
  min-width: min(300px, 80%);
}
