
html
{
  font-family: Arial, sans-serif;
  font-size: 12px;
  min-width: 1024px;
}

.badge
{
  height: 200px;
  position: relative;
}

.logo
{
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 139px;
  margin-left: 20px;
  margin-top: 30px;
  width: 325px;
}

.contact-info
{
  display: inline-block;
  margin-top: 90px;
  margin-left: 10px;
  position: absolute;
}

.nav
{
  position: relative;
}

.secondary-nav
{
  margin-top: 20px;
  height: 150px;
  width: 95%;
}

.secondary-nav-bar
{
  color: white;
  font-size: 10px;
  font-weight: bold;
  height: 2em;
  margin-bottom: 10px;
  position: relative;
}

.secondary-nav-bar a
{
  background-color: black;
  display: inline-block;
  padding-bottom: 0.5em;
  padding-left: 0.6em;
  padding-top: 0.5em;
  padding-right: 0.6em;
}

.secondary-nav-bar a:first-of-type
{
  padding-left: 1.5em;
}

.secondary-nav-bar a+a
{
  margin-left: -0.3em;
}

.secondary-nav .login
{
  background-color: white;
  color: black;
  margin-left: 1em;
}

.primary-nav
{
  font-size: 14px;
  font-weight: bold;
}

.primary-nav a+a
{
  margin-left: 1.5em;
}

.main
{
  background-color: #BAD5EB;
}

h2
{
  color: #4B90DE;
}

.events
{
  margin-left: 40px;
}

.info-bar a
{
  display: block;
}
