<div class="alert alert-info" style="margin-top: -10px">
  <div class="container camelot-banner">
    <div class="camelot-banner-img cbox">
      <img
        src="/images/bunkhouse/bunkhouse-exterior-rendering.jpg"
        alt="Drawing of the future cabin"
      />
    </div>
    <div class="camelot-banner-text">
      <h3>Camelot Bunkhouse Project 2023</h3>
      <p>
        A core part of the MITOC community, and in particular our access to the
        mountains, continues to be our well-loved “Camelot” cabin, located in
        central New Hampshire. As you may know, Camelot was built in the 1970s
        (on a shoestring budget), and it is nearing the end of its useful life.
        Since 2013, the Outing Club has been working to build new, safe and
        modern sleeping quarters on the Camelot property, which will ensure that
        MITOC can fulfill our mission for decades to come.
      </p>

      <p>
        MITOC partnered with Maclay Architects to design a new bunkhouse for
        Camelot which will be located approximately 100m from the existing
        cabin. The new bunkhouse will contain five bedrooms (sleeping ten
        persons each), a large central hallway, and a covered deck. We
        anticipate the cost of the new bunkhouse to be approximately $500,000.
      </p>

      <p>
        With the design now complete, we are actively seeking donations. If you
        are able, please consider donating to help us hit our fundraising target
        for 2022. With enough donations in 2022, we hope to break-ground on the
        new bunkhouse during 2023. This project will ensure we can fulfill our
        mission for the next generation of MITOCers.
      </p>
      <div class="links-box" style="justify-content: space-around">
        <a
          href="{{site.data.bunkhouse_settings.donate_link}}"
          class="bunkouse-donate-button"
          >Donate</a
        >
        <a href="/camelot" style="font-size: 2rem; text-decoration: underline"
          >Read more</a
        >
      </div>
    </div>
  </div>
</div>
