<nav class="navbar navbar-inverse navbar-fixed-top {{include.class}}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            {% for tab in include.menu %}
                {% if tab.items %}
                    <li class="dropdown">
                        <a href="JavaScript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{ tab.title }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for item in tab.items %}
                                {% if item.items %}
                                    {% if item.title %}
                                        <li class="dropdown-header">{{ item.title }}</li>
                                    {% endif %}
                                    {% for sub_item in item.items %}
                                        {% include menu-link.html item = sub_item %}
                                    {% endfor %}
                                    {% if forloop.last == false %}
                                        <li class="divider"></li>
                                    {% endif %}
                                {% else %}
                                    {% include menu-link.html item = item %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    {% include menu-link.html item = tab %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
