<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MIT Outing Club</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">As a Participant</li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/mailing-lists">Join Email Lists</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/join">Become a Member</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/calendar">Calendar</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">As a Leader</li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/get-more-involved">Getting More Involved</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/become-3-season-leader">3-Season Hiking Leaders</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/become-ws-leader">Winter School Leaders</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/become-climbing-leader">Climbing Leaders</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/become-paddling-leader">Paddling Leaders</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-involved/become-desk-worker">Desk Workers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/hiking">Hiking</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/rock-climbing">Rock Climbing</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/ice-climbing">Ice Climbing</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/biking">Mountain Biking</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/skiing">Skiing</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/canoe">Canoeing</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/sea-kayak">Sea Kayaking</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/whitewater">Whitewater</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/activities/surfing">Surfing</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Events</li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/winter-school">Winter School</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/circus">Circus</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/acadia">Acadia</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/adventure-race">Adventure Race</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Skills Training</li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/trs">TRS</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/school-of-rock">School of Rock</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/rolling-clinic">Rolling Clinics</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/courses">Safety Skills Courses</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Social</li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/trip-report">Trip Report Socials</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/events/screenings">Film Screenings</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rentals<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/rental">Gear Rental Information</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/prices">Price List</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/boathouse">Boat Rentals</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Cabin Rentals</li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/cabins">Renting Cabins</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/camelot">Camelot</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/intervale">Intervale</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/where-is-mitoc">Where is MITOC?</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/officers">Club Officers</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="http://mitoc-cag.mit.edu/">Collier Adventure Grant</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/boston-rocks">Boston Rocks</a></li>
                        <li class="divider"></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/code-of-conduct">Code of Conduct</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="http://mitoc.mit.edu/docs/advisoryboard/MITOCConstitution2019.pdf">MITOC Constitution (2019)</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="http://mitoc.mit.edu/docs/advisoryboard/MITOCBylaws2019.pdf">MITOC By Laws (2019)</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Leader Administrativia</li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="https://mitoc-gear.mit.edu">Gear Database</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/get-reimbursed">Get Reimbursed</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="https://docs.google.com/forms/d/1g2M6qOifsgX1JYpmWa_lkt_jCuJeS4NMyjsBTUxkppc/viewform" target="_blank">Leader Subsidies</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="https://wiki.mitoc.org">BOD Wiki</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="https://scripts.mit.edu/~mitoc/winter_school/leaders/wiki/">WS Wiki</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="https://docs.google.com/forms/d/1LOx8XUfZAXdPWPXuClXL5YOZXrIZ9wkIGRAT2um4qdI/viewform" target="_blank">Report a Trip</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/ws-leader-resources">WS Leader Resources</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="//mitoc-trips.mit.edu/trips/">Trip Signup</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/pay">Pay MITOC</a></li>
                <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/donate">Donate</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
