{% assign category = include.category %}
{% assign approver = mitoc-approval@mit.edu %}
{% if category.approver %}
  {% assign approver = category.approver %}
{% endif %}


<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Deposit</th>
    <th>Rental</th>
  </tr>
  {% for item in category.items %}
  <tr>
    <td>{{ item.title }}</td>
    <td>{{ item.deposit }}</td>
    <td>{{ item.rental }}</td>
  </tr>
  {% endfor%}

  {% if category.restricted_items %}
    <tr class="danger">
      <td colspan="3">
        <b>Restricted</b> (Email:
        <a href="mailto:{{ approver }}">{{ approver }}</a>)
      </td>
    </tr>
  {% endif %}

  {% for item in category.restricted_items %}
    <tr class="danger">
      <td>{{ item.title }}</td>
      <td>{{ item.deposit }}</td>
      <td>{{ item.rental }}</td>
    </tr>
  {% endfor%}
</table>
