<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ site.title }}</title>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/mitoc.css">
        <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" integrity="sha384-mXQoED/lFIuocc//nss8aJOIrz7X7XruhR6bO+sGceiSyMELoVdZkN7F0oYwcFH+" crossorigin="anonymous"></script>
        <script defer src="/js/bootstrap.min.js"></script>
        <script defer src="/js/mitoc.js"></script>
    </head>

    <body>
        {% include navbar.html %}
        <div id="main" class="container">
            {{ content }}
        </div>
    </body>

</html>
