---
layout: bunkhouse_base
---

<div class="bunkhouse-banner">
  <h1>Camelot bunkhouse</h1>
  <h2>Coming 2023</h2>
  <div class="donations-block">
    <strong class="donations-amount">$194,000</strong><br />
    <p>RAISED BY <strong>40</strong> PEOPLE</p>
    <div class="thermometer">
      <div class="thermometer donation-progress-pledges" style="width: 38.8%">
        <div class="thermometer donation-progress" style="width: 43.3%"></div>
      </div>
    </div>
    <p class="text-right">Goal: <strong>$500,000</strong></p>
    <a
      href="{{site.data.bunkhouse_settings.donate_link}}"
      class="bunkouse-donate-button"
      >Donate</a
    >
  </div>
</div>
<div class="container bunkhouse-wrapper">
  <div class="bunkhouse-container">
    {{content}}
    <div class="cbox small-screen-only">
      <button class="bunkouse-donate-button">Donate</button>
    </div>
  </div>
</div>
